:root{
    --main-transition: 0.4s;
    --blue-col: #0075ff;
    --blue-col-alt: #0d69d5;
    --orange-col: #f59e0b;
    --green-col: #22c55e;
    --red-col: #f44336;
    --gray-col: #888;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
*:focus{
    outline: none;
}
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background-color: var(--blue-col);
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--blue-col-alt);
}
.container{
    background-color: #f1f5f9;
    /* min-height: 200vh; */
}
.container .content h1{
    width: fit-content;
    padding-bottom: 15px;
    margin-bottom: 30px;
}
.container .content h1::before,
.container .content h1::after{
    content: "";
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
}
.container .content h1::before{
    width: 80%;
    background-color: white;
}
.container .content h1::after{
    width: 30%;
    background-color: black;
}
/* --------------------------------------------------- */
/* start sidebar */
.content{
    overflow: hidden;
}
.container .sidebar{
    width: 250px;
    box-shadow: 0 0 10px #ddd;
}
.container .sidebar h3{
    margin-bottom: 55px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.container .sidebar h3::before,
.container .sidebar h3::after{
    content: "";
    position: absolute;
    background-color: black;
}
.container .sidebar h3::before{
    width: 100%;
    height: 3px;
    bottom: -20px;
    left: 0;
}
.container .sidebar h3::after{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 7px solid white;
    bottom: -33px;
    left: 50%;
    transform: translateX(-50%);
}
.container .sidebar ul li a{
    transition: var(--main-transition);
    margin-bottom: 10px;
}
.container .sidebar ul li a:hover,
.container .sidebar ul li a.active{
    background-color: #f6f6f6;
}
.container .sidebar ul li a span{
    font-size: 14px;
    margin-left: 12px;
}
@media (max-width: 767px) {
    .container .sidebar{
        width: 60px;
        padding: 10px
    }
    .container .sidebar h3{
        font-size: 10px;
        margin: 0 auto 0 -5px;
        padding: 10px 0 20px;
    }
    .container .sidebar h3::before,
    .container .sidebar h3::after{
        display: none;
    }
    .container .sidebar ul li a{
        margin-bottom: 5px;
    }
}
/* for fixed sidebar remove the comment *
.container .test{
    max-width: 250px;
    min-width: 250px;
    box-shadow: 0 0 10px #ddd;
}
@media (max-width : 767px) {
    .container .test {
        min-width: 61px;
        width: 61px;
    }
}
.container .sidebar{
    position: fixed;
    width: 250px;
    box-shadow: 0 0 10px #ddd;
    height: 100vh;
}
.container .sidebar ul li a span{
    font-size: 18px;
    margin-left: 12px;
    font-weight: 500;
    letter-spacing: 1px;
}
.container .sidebar ul li a{
    transition: var(--main-transition);
    margin-bottom: 30px;
}*/
/* end sidebar */
/* ------------------------------------------------- */
/* start content header */
.container .content .header .search{
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 5px;
}
.container .content .header .search i{
    color: var(--gray-col);
    font-size: 14px;
    font-weight: bold;
}
.container .content .header .search input{
    padding: 5px;
    width: 125px;
    border: none;
    font-size: 12px;
    transition: var(--main-transition);
}
.container .content .header .search input:focus{
    width: 170px;
}
.container .content .header .search input:focus::placeholder{
    color: white;
}
.container .content .header .icons span{
    margin-right: 18px;
}
.container .content .header .icons span::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--red-col);
    right: -5px;
    top: -8px;
}
.container .content .header .icons img{
    width: 35px;
}
/* end content header */
/* ----------------------------------- */
/* start grid */
.wrapper{
    grid-template-columns: repeat(auto-fill , minmax(450px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
}
@media (max-width: 767px) {
    .wrapper{
        grid-template-columns: minmax(200px , 1fr);
        margin: 0 10px;
    }
}
/* start welcome */
.container .content .wrapper .w{
    overflow: hidden;
}
.container .content .wrapper .w .header .text{
    align-self: start;
} 
.container .content .wrapper .w .header .text h2{
    margin: 0 0 10px 0;
} 
.container .content .wrapper .w .header .text p{
    color: var(--gray-col);
} 
.container .content .wrapper .w .header img{
    max-width: 100%;
    width: 180px;
}
.container .content .wrapper .w .info ul {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.container .content .wrapper .w .pro-pic{
    height: 100px;
} 
.container .content .wrapper .w .pro-pic .img{
    width: 70px;
    height: 70px;
    border: 5px solid white;
    border-radius: 50%;
    box-shadow: 0 0 5px #ddd;
    margin-left: 20px;
    margin-top: -35px;
}
.container .content .wrapper .w .pro-pic .img img{
    max-width: 100%;
}
.container .content .wrapper .w a{
    margin: 20px 15px 30px auto;
}
.container .content .wrapper .w a:hover{
    background-color: var(--blue-col-alt);
}
@media (max-width: 767px) {
    .container .content .wrapper .w .header .text{
        flex: 1;
    }
    .container .content .wrapper .w .pro-pic .img{
        margin: 0 auto;
    }
}
/* end welcome */
/* -------------------------------- */
/* start q-d */
.q-d form textarea{
    resize: none;
    min-height: 180px;
}
.q-d form input[type=submit]{
    margin: 10px 0 0 auto;
    transition: var(--main-transition);
    cursor: pointer;
}
.q-d form input[type=submit]:hover{
    background-color: var(--blue-col-alt);
}
/* end q-d */
/* ------------------------------- */
/* start targets */
.y-t .box .icon{
    width: 80px;
    height: 80px;
    margin-right: 15px;
}
.y-t .details{
    flex: 1;
}
.y-t .details .prog{
    height: 5px;
}
.y-t .details .prog > span{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.y-t .details .prog > span span{
    position: absolute;
    bottom: 20px;
    right: -16px;
    color: white;
    padding: 3px 5px;
    border-radius: 6px;
    font-size: 14px;
}
.y-t .details .prog > .blue span::before{
    content: "";
    position: absolute;
    border-color: transparent;
    border-width: 7px;
    border-style: solid;
    bottom: -14px;
    border-top-color: var(--blue-col);
    left: 50%;
    transform: translateX(-50%);
}
.y-t .details .prog > .orange span::before{
    border-top-color: var(--orange-col);
}
.y-t .details .prog > .green span::before{
    border-top-color: var(--green-col);
}
.blue .icon ,
.blue .prog{
    background-color: rgb(0 117 255 / 20%);
}
.orange .icon ,
.orange .prog{
    background-color: rgb(245 158 11 / 20%);
}
.green .icon ,
.green .prog{
    background-color: rgb(34 197 94 / 20%);
}
/* end targets */
/* ------------------------------ */
/* start statistics  */
.t-s .container-box .box{
    border: 1px solid #ccc;
    width: calc(50% - 10px);
}
@media (max-width: 767px) {
    .t-s .container-box .box{
        width: 100%;
    }
}
/* end statistics  */
/* ------------------------------ */
/* start latest news */
.l-n .row:not(:last-of-type){
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.l-n .row img{
    width: 100px;
    margin-right: 20px;
}
.l-n .row .info{
    flex-grow: 1;
}
@media (max-width: 767px) {
    .l-n .row .info h3{
        margin: 10px;
    }
    .l-n .row .info p{
        margin-bottom: 15px;
    }
    .l-n .row .date{
        width: fit-content;
    margin: 10px auto 0
    }
}

.l-n .row .info p{
    margin-top: 10px;
}
/* end latest news */
/* -------------------------- */
/* start latest tasks */
.l-t .box .text{
    flex: 1;
}
.l-t .box i:hover{
    color: var(--red-col);
    cursor: pointer;
    transition: 0.3s;
}
/* end latest tasks */
/* --------------------------- */
/* start latest project progress */
.l-p-p ul::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 3px;
    left: 10px;
    background-color: var(--blue-col);
}
.l-p-p ul li::before{
    content: "";
    margin-right: 20px;
    display: block;
    min-width: 20px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid white;
    outline: 2px solid var(--blue-col);
}
.l-p-p ul li.done::before{
    background-color: var(--blue-col);
}
.l-p-p ul li.crnt::before{
    animation: crnt 0.9s infinite alternate;
}
.l-p-p img{
    width: 180px;
    position: absolute;
    right: 0;
    bottom: 10px;
    opacity: 0.4;
}
@keyframes crnt {
    to{
        background-color: var(--blue-col);
    }
}
/* end latest project progress */
/* ------------------------------------- */
/* start reminders */
.reminders .row span{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.reminders .row .text{
    border-left: 2px solid var(--blue-col);
}
.reminders .row.green .text{
    border-color: var(--green-col);
}
.reminders .row.orange .text{
    border-color: var(--orange-col);
}
.reminders .row.red .text{
    border-color: var(--red-col);
}
/* end reminders */
/* ------------------------------------ */
/* start latest post */
.l-p div img{
    width: 50px;
}
.l-p > p{
    margin: 20px 0;
    padding: 20px 0 25px;
    line-height: 1.8;
    border-top: 1px solid #eee;
}
/* end latest post */
/* ----------------------------------- */
/* start Social Media Stats */
.s-m-s .box.twtr{
    background-color: rgb(29 161 242 / 20%);
    color: #1da1f2;
}
.s-m-s .box.fcbk{
    background-color: rgb(24 119 242 / 20%);
    color: #1da1f2;
}
.s-m-s .box.ytub{
    background-color: rgb(255 0 0 / 20%);
    color: #ff0000;
}
.s-m-s .box.lnkd{
    background-color: rgb(0 119 181 / 20%);
    color: #0077b5;
}
.s-m-s .box i{
    width: 58px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--main-transition);
}
.s-m-s .box i:hover{
    transform: rotateZ(7deg);
}
.s-m-s .box.twtr i{
    background-color: #1da1f2;
}
.s-m-s .box.fcbk i{
    background-color: #1da1f2;
}
.s-m-s .box.ytub i{
    background-color: red;
}
.s-m-s .box.lnkd i{
    background-color: #0077b5;
}
.s-m-s .box button{
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}
.s-m-s .box.twtr button{
    background-color: #1da1f2;
}
.s-m-s .box.fcbk button{
    background-color: #1da1f2;
}
.s-m-s .box.ytub button{
    background-color: red;
}
.s-m-s .box.lnkd button{
    background-color: #0077b5;
}
/* end Social Media Stats */
/* ------------------------------- */
/* start projects table*/
.projects div{
    overflow-x: scroll;
}
.projects div table{
    min-width: 1000px;
    border-spacing: 0;
}
.projects div table thead{
    background-color: #eee;
}
.projects div table thead tr th{

}
.projects div table tr{

}
.projects div table tr:hover{

}
.projects div table tr th{

}
.projects div table tr td ,
.projects div table tr th{
    font-size: 15px;
    padding: 15px;
    text-align: left;
}
.projects div table tr td{
    border: 1px solid #eee;
}
.projects div table tr td img{
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 50%;
}
.projects div table tr td img:not(:first-of-type){
    margin-left: -13px;
}
/* end projects table*/
/* ---------------------------- */
/* end grid */
























