:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
  }
  * {
    box-sizing: border-box;
  }
  body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
  }
  *:focus {
    outline: none;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  ::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-track {
    background-color: white;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
  }
.page{
    background-color: #f1f5f9;
    min-height: 100vh;
}

.conten{
    width: 250px;
    box-shadow: 0 0 10px #989797;
    height: 200vh;
    position: absolute;
    position: relative;
}
.header{
    margin-top: 15%;
    margin-left: 40%;
    margin-bottom: 10%;
    display: block;
}
.s1{
    position: absolute;
     margin-top: -6%;
    position: fixed;
    margin-left:3.5% ;
    position: relative;

     }
 
.ch1{   width: 20% ;
            height: 2px;
            display: block;
              background-color: #000000;
             margin-top: -2%;
             margin-left: 32.5%;
             position: relative;
}
.ch2{ width: 15px ;
    height: 15px;
      background-color: #000000;
      border-radius: 50%;
      margin-left: 54%;
      position: absolute;
      margin-top: -3%;
  }
 
.ch3{     width: 20%;
    height: 2px;
    background-color: #000000;
    margin-top: 0%;
    margin-left: 62%;
    position: relative;
    position: absolute;
}
/* //////////////////////////////////////////////////////////////////////////////////// */
 .list li
 {
    list-style: none;
    margin-bottom: 25px;
    display: list-item;
     width: 70%;
     display: inline-block ;
position: relative;
     
 }
 .list a{
    text-decoration: none;
    color: #000;
     margin-left: 8px;
 
 }
 .list{
    margin-top: 20%;
    position: fixed; 
    position: relative;
   }
  
 
    ul li a:hover,
    ul li a.active {
     background-color: #f6f6f6;
     width: 100%;
    }
    
/* /////////////////////////////////////////////////// */
.content {
    overflow: hidden;
  }
  
  .head .search input {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 8px;
    padding-left: 30px;
    width: 180px;
    transition: width 0.3s;
  }
  .head .search input:focus {
    width: 200px;
  }
  .head .search input:focus::placeholder {
    opacity: 0;
  }
  .head .icons .notification::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--red-color);
    border-radius: 50%;
    right: -5px;
    top: -3px;
  }
  .between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.p-relative {
    position: relative;
}
.w-full{
    width: 100%;
}
.head .icons img {
    width: 35px;
    height: 35px;
    margin-left: 5px;
    margin-right: 20px;
    margin-bottom: 3px;
  }
  .page h1 {
    margin: 20px 20px 40px;
  }
  .page h1::before,
  .page h1::after {
    content: "";
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: 0;
  }
  .page h1::before {
    background-color: white;
    width: 120px;
  }
  .page h1::after {
    background-color: black;
    width: 40px;
  }
  
  ul li a {
    transition: 0.3s;
    margin-bottom: 5px;
  }
  
  ul li a:hover {
    color: rgb(0, 0, 0);
  }
  